$color-primary: #3282b8;
$color-primary-light: #bbe1fa;
$color-primary-dark: #0f4c75;

$color-grey-light-1: #dfe2e2;

$color-white: #fff;
$color-black: #1b262c;
$color-grey-dark: #738598;
$color-red: #e15249;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
